.inputDiv {
    position: relative; /* Чтобы абсолютный элемент внутри позиционировался относительно этого */
    padding-bottom: 20px; /* по размеру инпута */
    height: 200px; background-color: #ddd;
}

.inputMessagesChat {
    position: absolute;
    bottom: 0px;
}